#profile{
    text-align: center;
    padding: 40px 20px;

}

profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
    
   
}

#profile img{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 5px solid #3498db;
    object-fit: cover;
}

.profile-info{
    text-align: left;
}
.profile-info h1{
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 2.5em;
}
.title {
    color: #3498db;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.institute {
    color: #7f8c8d;
    font-style: italic;
}

#about p{
    margin-bottom; 15px;
    line-height: 1.8;

}
body {
    background-color: lightblue;
}
h1{
    color: darkblue;
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
}


}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 0 15px;

}

nav a{
    color: white;
    text-decoration: none
}



footer{
    text-align: center;
    padding: 20px;
    margin-top: 30px
}
